body {
	width: 960px;
	font-family: Arial, Helvetica, san-serif;
	margin-left: 150px;
	margin-right: 150px;
	background-color: #ff33cc;
}

h2 {
	text-align: center;
	margin-top: 60px;
	font-size: 24px;
}

.forms {
	margin-left: 150px;
	font-weight: bold;
	font-size: 20px;
}
